/*============
Variables
==============*/
:root {
  /*color scheme - main background colour and font colour set in media query based on light/dark user preference*/
  --header-border-col: hsl(239, 94%, 19%); /*navy blue*/
  --nav-border-col: hsl(201, 100%, 36%); /*bright blue*/
  --section-border-col: hsl(190, 100%, 42%); /*cerulean*/
  --sub-section-border-col: hsl(189, 75%, 75%); /*sky blue*/
  --code-border-col: hsl(190, 77%, 88%); /*powder blue*/

  /*font and text*/
  --font: "Ubuntu Mono", monospace;
  --header-font: bold 3.5rem/1.5 "Ubuntu Mono", monospace;
}

/*======================================
  Back to Basics - reset browser defaults
  =======================================*/
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--body-back-col);
  color: var(--body-col);
  font-size: 16px;
}

/*===============================
  Global styles and reset defaults
  ================================*/

body * {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/*reset default font - never shall Time New Roman be seen again!*/
h1,
h2,
h3,
p,
a,
li,
code {
  font-family: var(--font, Verdana, sans-serif);
}

/*================
  Page Layout 
  =================*/

/*=====
  Header 
  =======*/

/*text shows gradient color for header and footer*/
header {
  background-color: var(--header-border-col, #03045e);
  background-image: linear-gradient(
    to bottom,
    hsl(239, 94%, 19%),
    hsl(201, 100%, 36%),
    hsl(190, 100%, 42%),
    hsl(189, 75%, 75%),
    hsl(190, 77%, 88%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.3);
}

header h1 {
  font: var(--header-font);
  text-align: center;
}

/*=======
 Nav Menu
=========*/
nav {
  border-top: 0.3rem solid white;
  border-bottom: solid 0.3rem;
  border-image: linear-gradient(
      to right,
      hsl(239, 94%, 19%),
      hsl(201, 100%, 36%),
      hsl(190, 100%, 42%),
      hsl(189, 75%, 75%),
      hsl(190, 77%, 88%),
      hsl(189, 75%, 75%),
      hsl(190, 100%, 42%),
      hsl(201, 100%, 36%),
      hsl(239, 94%, 19%)
    )
    20;
}

nav ul {
  margin: 1rem;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

nav ul li {
  padding: 0.5rem;
  font: 2rem var(--font);
}

nav ul li a {
  width: 100%;
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
}

nav ul li:hover a,
nav ul li:focus a,
nav ul li:active a {
  color: var(--nav-border-col);
}
/*==========================
  Main and Section containers
===========================*/
main {
  padding: 0.5rem;
  position: relative;
}

section {
  border-left: solid 0.3rem;
  border-bottom: solid 0.3rem;
  border-image: linear-gradient(
      to bottom right,
      hsl(239, 94%, 19%),
      hsl(201, 100%, 36%),
      hsl(190, 100%, 42%),
      hsl(189, 75%, 75%),
      hsl(190, 77%, 88%),
      hsl(189, 75%, 75%),
      hsl(190, 100%, 42%),
      hsl(201, 100%, 36%),
      hsl(239, 94%, 19%)
    )
    20;
  padding: 1rem;
  margin: 1rem 1rem 0 0;
}

section div {
  position: relative; /*for backtotop shortcut*/
}

section h2 {
  padding-left: 1rem;
  font-size: 2rem;
  border-bottom: solid 0.3rem;
  border-image: linear-gradient(
      to right,
      hsl(239, 94%, 19%),
      hsl(201, 100%, 36%),
      hsl(190, 100%, 42%),
      hsl(189, 75%, 75%),
      hsl(190, 77%, 88%)
    )
    20;
}

section #list_sec_menu {
  list-style: none;
  margin-top: 1rem;
}

section #list_sec_menu li {
  margin: 0.3rem;
  padding: 0.3rem;
  border-left: solid 0.1rem var(--nav-border-col, #0077b6);
}

section #list_sec_menu li a {
  text-decoration: none;
  color: inherit;
}

section #list_sec_menu li:hover a {
  text-decoration: underline;
  text-decoration-color: var(--nav-border-col, #0077b6);
  text-underline-offset: 4px;
}

section .subsection {
  margin: 1rem;
}

.subsection div {
  margin: 0 1rem;
}

.subsection h3 {
  margin-bottom: 0.5rem;
  border-bottom: solid 0.2rem;
  border-image: linear-gradient(
      to right,
      hsl(239, 94%, 19%),
      hsl(201, 100%, 36%),
      hsl(190, 100%, 42%),
      hsl(189, 75%, 75%),
      hsl(190, 77%, 88%)
    )
    20;
}

.subsection p {
  line-height: 200%;
}
.subsection .code_box {
  display: block;
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--nav-border-col, #0077b6);
  border: 2px solid var(--body-col);
}

.code_box p {
  font-style: italic;
}
.code_box code {
  line-height: 1.5;
  word-wrap: break-word;
  margin: 0.5rem;
}

/*===================
  List Style Examples
=====================*/

#list_sec .subsection ul,
#list_sec .subsection ol {
  margin-left: 1rem;
  padding: 0.5rem;
}

#list_sec .subsection ul li,
#list_sec .subsection ol li {
  padding: 0.3rem 0.5rem;
}

/*LIST TYPE EXAMPLES*/
#list_type_examples ul #list_circle {
  list-style-type: circle;
}

#list_type_examples ul #list_disc {
  list-style-type: disc;
}

#list_type_examples ul #list_square {
  list-style-type: square;
}

#list_type_examples ol #list_decimal {
  list-style-type: decimal;
}

#list_type_examples ol #list_decimal_zero {
  list-style-type: decimal-leading-zero;
}

#list_type_examples ol #list_l_alpha {
  list-style-type: lower-alpha;
}

#list_type_examples ol #list_l_greek {
  list-style-type: lower-greek;
}

#list_type_examples ol #list_l_latin {
  list-style-type: lower-latin;
}

#list_type_examples ol #list_l_roman {
  list-style-type: lower-roman;
}

#list_type_examples ol #list_u_alpha {
  list-style-type: upper-alpha;
}

#list_type_examples ol #list_u_greek {
  list-style-type: upper-greek;
}

#list_type_examples ol #list_u_latin {
  list-style-type: upper-latin;
}

#list_type_examples ol #list_u_roman {
  list-style-type: upper-roman;
}

#list_type_examples ol #list_armenian {
  list-style-type: armenian;
}

#list_type_examples ol #list_cjk {
  list-style-type: cjk-ideographic;
}

#list_type_examples ol #list_georgian {
  list-style-type: georgian;
}

#list_type_examples ol #list_hebrew {
  list-style-type: hebrew;
}

#list_type_examples ol #list_hiragana {
  list-style-type: hiragana;
}

#list_type_examples ol #list_hiragana-iroha {
  list-style-type: hiragana-iroha;
}

#list_type_examples ol #list_katakana {
  list-style-type: katakana;
}

#list_type_examples ol #list_katakana-iroha {
  list-style-type: katakana-iroha;
}

/*LIST POSITION EXAMPLES*/

#list_position_examples ol li {
  border: solid 1px;
  margin: 0.3rem;
}

#list_position_examples ol #list_outside {
  list-style-position: outside;
}

#list_position_examples ol #list_inside {
  list-style-position: inside;
}

/*LIST IMAGE EXAMPLES*/

#list_image_examples ul li {
  font-size: 150%;
  list-style-image: linear-gradient(
    to left bottom,
    var(--header-border-col, #03045e),
    var(--code-border-col, #caf0f8)
  );
}

/*MARKER EXAMPLES*/
#list_marker_subsec ul {
list-style-position: inside;
}

#list_marker_subsec ul li::marker {
  color: green;
  font-size: 2rem;
}

#list_marker_subsec ul li:nth-of-type(even)::marker {
  content: "🧡 ";
}


/*LINK STYLING*/

#link_sec ul li {
  margin: 0.5rem;
  padding: 0.5rem;
}

.link_styles {
  list-style: none;
  border-left: 0.3rem solid;
  border-image: linear-gradient(
      to bottom,
      hsl(239, 94%, 19%),
      hsl(201, 100%, 36%),
      hsl(190, 100%, 42%),
      hsl(189, 75%, 75%),
      hsl(190, 77%, 88%)
    )
    20;
}

.link_styles li:nth-child(1) {
  text-decoration: underline;
}

.link_styles li:nth-child(2) {
  text-decoration: underline;
  color: blue;
}

.link_styles li:nth-child(3) {
  text-decoration: underline;
  color: purple;
}

.link_styles li:nth-child(4) {
  text-decoration: underline;
}
.link_styles li:nth-child(4):hover {
  text-decoration: underline;
  cursor: pointer;
}

.link_styles li:nth-child(5) {
  text-decoration: underline;
  outline: solid 1px;
}

.link_styles li:nth-child(6) {
  text-decoration: underline;
  color: red;
}
/*====
  Footer
  =======*/

footer {
  background-color: var(--header-border-col, #03045e);
  background-image: linear-gradient(
    to top,
    hsl(239, 94%, 19%),
    hsl(201, 100%, 36%),
    hsl(190, 100%, 42%),
    hsl(189, 75%, 75%),
    hsl(190, 77%, 88%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.3);
  padding: 0 1rem 1rem;
}

footer #made_by_me {
  text-align: center;
}

#made_by_me p {
  line-height: 1.8;
}

#made_by_me a {
  font-size: 1.5rem;
  padding: 0.25rem;
  color: rgba(0, 0, 0, 0.3);
}

#made_by_me a:link {
  color: rgba(0, 0, 0, 0.3);
}

#made_by_me a:visited {
  color: rgba(0, 0, 0, 0.75);
}

#made_by_me a:focus,
#made_by_me a:hover {
  color: var(--body-col);
}

#made_by_me a:active {
  border: 1px dotted;
}

/*================
  The little touches
  =================*/

/*Back to top - only for small mobile screen views*/
.backtotop {
  position: absolute;
  bottom: -1.5rem;
  right: -1rem;
  font-size: 1.2rem;
}

.backtotop a:link,
.backtotop a:hover,
.backtotop a:active,
.backtotop a:visited {
  color: var(--body-col);
}

/*================
  Responsivesnness
  ==================*/

@media only screen and (min-width: 1024px) {
  /*remove unneeded elements*/
  .backtotop {
    display: none;
  }

  /*Layout*/

  .subsection .code_box {
    display: inline-block;
  }
}

/*=============
  Accessibility
  ===============*/

@media (prefers-color-scheme: dark) {
  body {
    --body-back-col: #0f0f0f;
    --body-col: #f5f5f5;
  }
}

@media (prefers-color-scheme: light) {
  body {
    --body-back-col: #f5f5f5;
    --body-col: #0f0f0f;
  }
}

/*Reset to user browser preference*/

@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }
}

/*======================
  Ye Olde Time Print View
  ========================*/
@media print {
  body * {
    background-color: none;
    color: #000;
    box-shadow: none;
  }

  /*font size - change px to pt*/
  h1 {
    font-size: 18pt;
    text-shadow: none;
  }

  h2 {
    font-size: 16pt;
    text-shadow: none;
  }

  h3 {
    font-size: 14pt;
    text-shadow: none;
  }

  p,
  li,
  code,
  abbr {
    font-size: 12pt;
  }

  /*remove unneeded elements*/
  nav,
  .backtotop {
    display: none;
  }

  /*display footer links*/

  footer a:link {
    color: #000;
    margin: 0;
    display: block;
    font-size: 10pt;
  }

  footer a::after {
    content: " [" attr(href) "]";
  }

  footer a:link,
  footer a:visited {
    color: #000;
    background: none;
    padding: 0;
  }
}
